<!--<div class="board">-->
        <!--    {{#each board_list }}-->
<!--        <div class="card" id ="{{@key}}">-->
<!--            <div class="card-header">{{@key}}</div>-->
<!--        <ul class="list-group list-group-flush">-->
        <!--            {{#each this }}-->
<!--                <a  href="/edit/{{this.id}}">-->
<!--                    <li class="list-group-item draggable" draggable="true" id ="{{this.id}}">{{ this.name}}</li>-->
<!--                </a>-->
<!--            </ul>-->
        <!--            {{/each}}-->
<!--        </div>-->
        <!--    {{/each}}-->
<!--</div>-->
<head>
    <script src="/javascripts/drop.js" defer></script>
</head>
<div class=mainboard>
    <div class=board>
        <div class="column">
            <h2> Backlog </h2>
            {{#each backlogitems}}
                <div class="bli" draggable="true" id="{{this.id}}">
                    <p class="card">{{this.name}}</p>
                </div>
            {{/each}}

            <a id="cardb" href="/task?board={{backlogid}}" role="button">+</a>

        </div>
    </div>
    <div class=board>
        <div>
            <h2>Sprint Plan</h2>
            <div class=mainboard id="sprintboard">
                {{#each board_list}}
                    <div class="column" id="{{this.id}}">
                        <div>
                            <h3>Sprint {{this.id}}</h3>
                            <p><br> {{this.from}} to <br>
                                {{this.to}}</p>
                        </div>
                        <div>
                            {{#each tasks}}
                                <div class="bli" draggable="true" id="{{this.id}}">
                                    <p>{{this.name}}</p>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

